.link__ct {
    padding: .8em 3em;
    display: inline-block;
    font-size: .8em;
    background: #fffcfc;
    color: #010000;
    border-radius: .5em;
    margin: 0 auto;
}

@media screen and (min-width: 769px){
    .link__ct {
        padding: .8em 2em;
        display: inline-block;
        font-size: .8em;
        background: #050505;
        color: #ffffff;
        border-radius: .5em;
        margin: 0 auto;
    }
}