.header__portfolio{
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.header__portfolio .header__navbar__portfolio{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__navbar__portfolio .logo__header .logo{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}